/* .item,
.MyDragHandleClassName {
  /* border: 1px solid; */
/* background-color: gray;
} */
.item {
  /* overflow: scroll; */
  width: auto;
  /* height: 136px; */
  /* padding: 16px; */
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  align-items: center;

  background-color: var(--dark);
  color: var(--primary);
}

.MyDragHandleClassName {
  cursor: move;
  height: auto;
  font-size: 10px;
  border-radius: 10px;
  margin-top: 3px;
  background: var(--dark);
  color: white;
  text-align: center;
}
