.item {
  overflow: hidden;
  width: auto;
  margin: 10px;
  text-align: left;
  align-items: left;

  -webkit-box-shadow: 0px 0px 204px -86px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 204px -86px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 204px -86px rgba(0, 0, 0, 0.75);
}

.MyDragHandleClassName {
  cursor: move;
  height: auto;
  border-radius: 10px;
  background: var(--dark);
  text-align: center;
}
