@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,900&display=swap");

// DARK THEME COLORS
$dashBgDark: #393f48;
$dashPrimaryTeal: #00adb5;
$dashSecondaryWhite: #fff;
$dashBgWidget: #222831;
$dashHrLight: #2c3139;

// Color Overrides
$primary: $dashPrimaryTeal;
$secondary: $dashSecondaryWhite;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light: $dashHrLight;
$dark: $dashBgWidget;

$theme-colors: (
  "custom-color": #900,
);

$body-bg: $dashBgDark;
$body-color: $dashSecondaryWhite;

// TYPO
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-monospace: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

// LAYOUT
// Jumbotron

// $jumbotron-padding:                 2rem !default;
$jumbotron-color: $dashSecondaryWhite;
$jumbotron-bg: #393f48;

// import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
